* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: #993399
}

.main-content {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 600px;
    align-content: center;
    border: 1px solid black;

}

.footer {
    background-color: teal;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
}