* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: #993399
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 600px;
}

.dinoCard,
.aboutMe {
    width: 50%;
    align-content: center;
}

img {
    max-width: 600px;
}

.footer {
    background-color: teal;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
}
